<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="cabecalho">
        <nav>
        <img style="height: 30px;" src="icons8-agenda-60.png" alt="logo">
        <h1>MyAgenda</h1>
        </nav>
    </header>
    <main class="conteudo">
    <div class="container">
        <h1 class="titulo">Homepage</h1>

        <div class="obtns">

            <a href="..\login\login.html"><button class="btn" >Login</button></a>
            <a href="..\cad\cad.html"><button class="btn" >Cadastro</button></a>
        
        </div>
</main>
</body>
</html>